.lys_header {
  width: 100%;
  height: 70px;
  background: white;
  display: block;
  position: absolute;
  z-index: 99;
  .BoxShadowHelper(1);
  img.logo {
    height: 60px;
    display: inline-block;
    opacity: .8;
    .center.vertical;
    left:40px;
  }

  .title {
    .Font_Body;
    font-size: 30px;
    line-height: 70px;
    text-transform: uppercase;
    display: inline-block;
    margin-left:150px;
    height:100%;

  }
}
