
<div class="table_packages">
<table >
  <tr class="title">
    <th colspan="7">
      <span>Packages</span>
      <md-button aria-label="menu" ng-click="showDialog({})">
        <md-icon><i class="material-icons">library_add</i></md-icon>
      </md-button>
    </th>
  </tr>
<tr class="header">
  <th>
    Available
  </th>
  <th>
    Name
  </th>
  <th>
    LBs Lost
  </th>
  <th>
    Before
  </th>
  <th>
    After
  </th>
  <th>
    Testimonial
  </th>
  <th>

  </th>
</tr>
<tr ng-repeat="testimonial in Data.Testimonials" ng-init="isOpen=FALSE">
  <td>
    <md-switch ng-change="saveTestimonial(testimonial)" ng-model="testimonial.Active" aria-label="Switch 1" value=1>
  </md-switch>
  </td>
  <td>
    {{testimonial.Name}}
  </td>
  <td>
    {{testimonial.Pounds_Lost}}
  </td>
  <td>
    Before
  </td>
  <td>
    After
  </td>
  <td >
    <div class="testimonial">

    {{testimonial.Testimonial}}
  </div>
  </td>
  <td>




            <md-fab-actions >
              <md-button aria-label="Edit" ng-click="showDialog(testimonial)" class="md-fab md-raised md-mini">
                <md-icon ><i class="material-icons">mode_edit</i></md-icon>
              </md-button>
              <md-button aria-label="Google Hangout" ng-click="deleteTestimonial(testimonial)" class="md-fab md-raised md-mini">
                <md-icon><i class="material-icons">delete</i></md-icon>
              </md-button>
            </md-fab-actions>

  </td>
</tr>
</table>
</div>
